{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock title %}
    {% block metadata %}
    <!-- card css -->
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}" />
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
    {% endblock metadata %}
</head> 
<body>
    {% include 'main/main_navbar.html' %}
    {% block maincontent %}


    {% endblock maincontent %}
    {% include 'main/main_footer.html' %}
    {% block script %}
    <!-- Required jQuery first, then Bootstrap Bundle JS -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'main/js/bootstrap.bundle.min.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    {% endblock script %}
</body>
</html>